*.DS_Store
*.sw?
.#*
*#
*~
app/.classpath
app/.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml
.terraform.lock.hcl
**/.terraform/*
terraform/terraform.tfstate*